[submodule "modules/dotbot"]
	path = modules/dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "modules/z"]
	path = modules/z
	url = https://github.com/rupa/z.git
	ignore = dirty
