[submodule "modules/zimfw"]
	path = modules/zimfw
	url = https://github.com/zimfw/zimfw.git
	ignore = dirty
[submodule "modules/dotbot"]
	path = modules/dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "modules/z"]
	path = modules/z
	url = https://github.com/rupa/z.git
	ignore = dirty
[submodule "modules/dotly_marketplace"]
	path = modules/dotly_marketplace
	url = https://github.com/gtrabanco/dotly_marketplace
	branch = master
