$if Bash
  "\C-l": clear-screen
  "\C-b": redraw-current-line
  "\e\C-j": accept-line
  "\C-j": "\C-b\e\C-j"
  "\C-m": "\C-b\e\C-j"
  "\C-p":previous-history
  "\C-n":next-history
  "\C-a.":beginning-of-line
  "\C-e.":end-of-line
$endif
