name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-10.15
          - macos-11.0
          - ubuntu-18.04
          - ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Set current repository for pull requests
        run: |
          echo "DOTLY_PR_REPOSITORY=${{ github.event.pull_request.head.repo.full_name }}" >> $GITHUB_ENV

      - name: Set current repository and branch
        run: |
          echo "DOTLY_REPOSITORY=${DOTLY_PR_REPOSITORY:-CodelyTV/dotly}" >> $GITHUB_ENV
          echo "DOTLY_BRANCH=${{ github.head_ref }}" >> $GITHUB_ENV
          echo "DOTLY_ENV=CI" >> $GITHUB_ENV

      - name: Install
        run: |
          echo "DOTLY_REPOSITORY: $DOTLY_REPOSITORY"
          echo "DOTLY_BRANCH: $DOTLY_BRANCH"
          echo "DOTLY_ENV: $DOTLY_ENV"
          echo "$HOME/.dotfiles" | bash installer

      - name: Debug on error
        if: ${{ failure() }}
        run: cat "$HOME/dotly.log"
